/*3 custom fonts(handwriting style)*/
@import url('http://fonts.googleapis.com/css?family=Delius|Walter+Turncoat|Permanent+Marker');

/*basic reset*/
* {margin: 0; padding: 0; box-sizing: border-box;}

/* Apply border image/style/color but not width to: 
	1. elements with class attribute containing 'wb'
	2. Direct/1st level children of elements with class attr containing 'wb-child'
*/
[class*='wb'], [class*='wb-child'] > * {
	/*solid border color(fallback)*/
	border: 0px solid #195493;
}
/*border widths*/
/*all sides*/
.wb, .wb-child > * {
	margin: 5px; 
	width: 60px; 
	border-width: 2px;
}

/*single sides*/
.wb-top, .wb-child-top > * {
	border-top-width: 2px;
}

.wb-right, .wb-child-right > * {
	border-right-width: 2px;
}

.wb-bottom, .wb-child-bottom > * {
	border-bottom-width: 2px;
}

.wb-left, .wb-child-left > * {
	border-left-width: 2px;
}

/*preventing certain elements from using their default border/bg styles*/
/*form, input, textarea, table, button, select, optgroup, option {
	font: inherit; color: inherit; background: transparent;
}*/

/*general styles*/
body {
	font: bold 12px/18px Delius; color: white;
	background: url('http://thecodeplayer.com/u/m/wfbg.png');
}

a {
	text-decoration: none; color: black;
}

.wrapper {
	width: 400px; 
	display: block; 
	margin: 50px auto; 
	border-bottom-width: 0; 
	background-color: 195493
}

.black-bar {
	padding: 2px 4px; 
	background-color: 007fff;
}

.title {
	margin-left: 5px; 
	padding: 5px; 
	font-size: 25px; 
	text-align: center;
	float: right;
}

.title-box {
	padding: 20px; 
	overflow: hidden;
}

.search-input, .search-button {
	margin: 5px; 
	padding: 10px; 
	font-size: 8px; 
	float: right;
}

.input {
	width: 50px; 
	height: 30px;
}

.categories {
	overflow: hidden; 
	background-color: 000
}

.categories a {
	display: block; 
	float: right; 
	width: 50%; 
	text-align: center;
	font: bold 18px/50px 'Walter Turncoat'; 
	color: fff
}

.search-head {
	padding: 20px 40px 40px 40px; 
	background: rgba(0, 0, 0, 0.2);
}

.search-head button {
	float: center; 
	padding: 35px 10px; 
	background: rgba(255, 255, 255, 0.1);
}

.search-head h2 {
	padding: 3px 0; 
	font: normal 18px/20px 'Permanent Marker';
}

.search-results li {
	list-style-type: none; 
	overflow: hidden; 
	padding: 10px;
}

.resultsBox {

	max-width: 400px;
	max-height: 900px;
	background-color: #fff;
}

.thumb {
	height: 60px; 
	width: 50px; 
	float: left; 
	margin-right: 10px; 
	text-align: center; 
	background: rgba(0, 0, 0, 0.15);
}

.thumb .fa {
	font-size: 32px; 
	line-height: 60px; 
	opacity: 0.15;
}

.img {
	margin-top: 8px; 
	padding: 0px;
	float: absolute;
}

.button {
	width: 20px;
	border-radius: 20px;
	color: black;
}

.button2 {
	display: block;
    text-align: center;
	border: 2px solid #eee;
	border: 2px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 5px;
}

p {
	color: black;
	text-align: center;
	padding-bottom: 7px;
	font-size: 20px;
}

p a {
	color: black;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 2px;
	font-size: 15px;

}

.round-border {
	display: block;
    text-align: center;
	border: 2px solid #eee;
	border: 2px solid rgba(0, 0, 0, 0.05);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 10px;
	margin-bottom: 5px;
}

#panel, #flip {
    padding: 5px;
    text-align: center;
    background-color: #195493;
    border: solid 1px #c3c3c3;
    color: 
}

#panel {
    padding: 10px;
    display: none;
}